<h1 style="text-align: center;"><%= params[:controller].capitalize %></h1>

<div style="text-align: center; margin-bottom: 25px;">
	<%= link_to "Voltar", decks_path %> 
</div>

<% if @deck.errors.any? %>
	<div class="alert">
		<span class="closebtn">&times;</span>  
			<ul>
			  <% @deck.errors.full_messages.each do |message| %>
			    <li><%= message %></li>
			  <% end %>
		</ul>
	</div>
<% end %>

<div class="form_deck">
<%= form_for @deck do |f| %>
	<%= f.label :name, 'Nome' %>
	<%= f.text_field :name %>
	<br><br>
	<%= f.submit 'Cadastrar' %>
<% end %>
<div>
